<section id="top-image">
  <% if @page.images.present? %>
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <% @page.images.each_with_index do |image, index| %>
    <li data-target="#carousel-example-generic" data-slide-to="0" class="<% if index == 0 %>active<% end %>"></li>
    <% end %>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <% @page.images.each_with_index do |image, index| %>
    <div class="item <% if index == 0 %>active<% end %>">
      <%= image_tag image.thumbnail(geometry: "1800x650#c").url, class: 'img-responsive' %>
    </div>
    <% end %>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<% end %>
</section>

<%#= render '/refinery/content_page' %>

<section id="content-home">
  <div class="container">
    <div class="row">
      <div class="col-md-3" id="sidebar">
        <%= render '/refinery/shared/address' %>

        <%= raw @page.content_for(:sidebar) %>
        <div id="sb-fb"><%= render '/refinery/shared/facebook' %></div>
        <div id="sb-tw"><%= render '/refinery/shared/twitter' %></div>
      </div>
      <div class="col-md-9">
        <h1><%= raw @page.title %></h1>
        <%= raw @page.content_for(:body) %>
        <section id="sponsors">
          <h3>Our Sponsors</h3>
          <% @sponsors.each do |s| %>
            <div class="col-md-4">
              <%= image_tag s.sponsor_image.url, class: 'img-responsive' %>
              <h4><%= link_to s.name, s.sponsor_website %></h4>

            </div>
          <% end %>



        </section>
      </div>
    </div>
  </div>
</section>


