<section id="top-image">
<% if @page.images.present? %>
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <% if @page.images.count > 1 %>
  <ol class="carousel-indicators">
    <% @page.images.each_with_index do |image, index| %>
    <li data-target="#carousel-example-generic" data-slide-to="0" class="<% if index == 0 %>active<% end %>"></li>
    <% end %>
  </ol>
  <% end %>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <% @page.images.each_with_index do |image, index| %>
    <div class="item <% if index == 0 %>active<% end %>">
      <%= image_tag image.thumbnail(geometry: "1800x650#c").url, class: 'img-responsive' %>
    </div>
    <% end %>
  </div>

  <!-- Controls -->
  <% if @page.images.count > 1 %>
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
  <% end %>
</div>
<% end %>
</section>

<section id="content">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-push-4">
        <h1><%= raw @page.title %></h1>
        <%= raw @page.content_for(:body) %>
      </div>

      <div class="col-md-4 col-md-pull-8" id="sidebar">
        <%= render '/refinery/shared/address' %>
        <%= raw @page.content_for(:sidebar) %>
        <div id="sb-fb"><%= render '/refinery/shared/facebook' %></div>
        <div id="sb-tw"><%= render '/refinery/shared/twitter' %></div>
      </div>

    </div>
  </div>
</section>
